@import url('https://fonts.googleapis.com/css2?family=Jacquarda+Bastarda+9&family=Mountains+of+Christmas:wght@400;700&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 0;
    font-family: 'Mountains of Christmas';
}

:root{
    --primary: #FF7BC4;
    --secondary: #790F4A;
}

header{
    display: flex;
    justify-content: flex-start;
    border-bottom: var(--secondary);
    border-bottom-width: 0.5rem;
    border-bottom-style: solid;
    height: 5rem;
}

footer{
    height: 3.5rem;
    display: flex;
    align-items: center;
    background-color: #790F4A;
    justify-content: space-between;
}


