@import url('https://fonts.googleapis.com/css2?family=Mitr:wght@300&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 0;
    font-family: 'Mitr';
}

:root{
    --primary: #FF7BC4;
    --secondary: #a80960;
}

header{
    display: flex;
    justify-content:space-between;
    height: 5rem;
    background-image: linear-gradient(#a80960, #5e0335);
}
header figure{
    display: flexbox;
    align-items: self-start;
}
header figure img{
    padding-left: 25px;
}
header nav {
    display: flex;
    align-items: center;
    font-size: x-large;
}
header nav a {
    margin: 0 1rem;
    text-decoration: none;
    color: white;
    
}
header nav a:hover {
    font-weight: bold;
}
main {
    min-height: calc(100vh - 8.5rem);
}
main.index section {
    display: flex;
}
main.index section img {
    width: 32%;
}

main{
    background-image: url(./img/background.png);
    background-repeat: no-repeat;
}

main.index figure img{
    padding: 0.5rem;
    margin: 0.5rem;
}

main.index section textarea{
    position:absolute;
    right: 7rem;
    width: 45rem;
    padding: 0.5rem;
}

main.index section figure img{
    position:absolute;
    right: 7rem;
    width: 45rem;
    padding: 0.5rem;
}

main{
    background-color: #FF7BC4;

}
main.cartas {
    display: grid;
    grid-template-columns: auto;
    align-content: flex-start;
    padding: 0.5rem;
}

main.cartas section {
    background-color: #FF5BB6;
    padding: 0.5rem;
    margin: 1rem;
    font-size: x-large;
    color: white;
    border: 0.5rem solid var(--secondary);
    box-shadow: 0.3rem 0.2rem rgba(51, 33, 45, 0.164);
}

main.index section aside{
    background-color: #FF5BB6;
    padding: 0.5rem;
    margin: 1rem;
    font-size: x-large;
    color: white;
    border: 0.5rem solid var(--secondary);
    box-shadow: 0.3rem 0.2rem rgba(51, 33, 45, 0.164);
    height: 8rem;
    width: 30rem;
}

main.cartas section aside {
    display: flex;
}

main.cartas section aside p {
    font-size: 5rem;
    margin-top: 100px;
}

main.cartas figure img{
    padding: 0.5rem;
    margin: 0.5rem;
}

footer{
    height: 3.5rem;
    display: flex;
    align-items: center;
    background-image: linear-gradient(#a80960, #5e0335);
    justify-content: space-between;
    color: white;
}