@media(max-width: 200px) {
    main.cartas {
        display: grid;
        grid-template-columns: auto auto auto;
    }
}

@media(max-width: 200px) {
    main.cartas {
        display: grid;
        grid-template-columns: auto auto;
    }
}

@media(max-width: 200px) {
    main.cartas {
        display: grid;
        grid-template-columns: auto;
    }
    main.cartas figure img {
        padding: 0.5rem;
    }

    main.index section {
        display: flex;
        flex-direction: column;
    }

    main.index section img {
        width: 100%;
    }
}
